*, body {
    gap: 8px;
    font-size: 14px;
}

.imageLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 5em;
    height: 1em;
}

.imageLogo {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/logo/trelloEst.gif);
    background-repeat: no-repeat;
    background-size: contain;
}

.imageLogo:hover{
    background-image: url(../images/logo/trelloMov.gif);
}